.waiting-correction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 0.8em 1.5em;
    border-radius: 25px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    margin: 1em 0;
}

.waiting-correction-title {
    font-size: 1.2rem;
    padding: 0 0.5em;
}