.waiting-correction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 0.8em 1.5em;
    border-radius: 25px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    margin: 1em 0;
}

.waiting-correction-title {
    font-size: 0.9rem;
    padding: 0 0.5em;
    text-align: center;
}

/* IPHONE 6/7/8 */
@media screen and (max-width: 376px) {
    .waiting-correction-title {
        font-size: 0.89rem;
    }
}

/* IPHONE 6/7/8 PLUS */
@media screen and (min-width: 376px) and (max-width: 420px) {
    .waiting-correction-title {
        font-size: 0.95rem;
    }
}