#main-wrapper {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*padding-right: 0;*/
    /*padding-left: 0;*/
    /*padding-bottom: 0;*/
    /*max-width: 100%;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*min-height: 100vh;*/
}

.container {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 0 15px 0;
}

.title {
    font-size: 1.2rem;
    padding: 1em 0 0;
    width: 100%;
}
.error-message {
    text-align: center;
    padding-bottom: 1.2em;
}

.error-message.has-failure {
    color: #333333;
    font-size: 0.9rem;
}
.error-message.hide {
    display: none;
    color: #333333;
}

.signup {
    text-align: center;
    padding: 0.5rem 0;
}

.signup a {
    color: #ed206d;
    text-decoration: none;
}

.signup a:hover {
    color: #d71d64;
    text-decoration: none;
}


/* IPHONE 6/7/8 */
@media screen and (max-width: 376px) {
}

/* IPHONE 6/7/8 PLUS */
@media screen and (min-width: 376px) and (max-width: 420px) {
}

