@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body {
    background: #FDFDFD;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

body, input, button, h1, h2, h3, h4, h5, h6, p {
    font-family: 'Open Sans', sans-serif;
}

.title {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: left;
}

/* FORMS */

.input-group {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    width: 100%;
    padding: 1em 0;
}

.input-group span {
    font-weight: 400;
    font-size: 0.95rem;
    padding-left: 0.5em;
    padding-bottom: 0.2em;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* turn it off completely */
select:active, select:hover {
    outline: none
}

option:hover, option:active, option:focus {
    background-color: #fff;
    border: 0;
    outline: none !important;
}

/* IPHONE 6/7/8 */
@media screen and (max-width: 376px) {
    .title {
        font-size: 1rem;
    }
}

/* IPHONE 6/7/8 PLUS */
@media screen and (min-width: 376px) and (max-width: 420px) {
    .title {
        font-size: 1.2rem;
    }
}

