.recently-corrected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 0.8em 1.5em;
    border-radius: 25px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    margin: 1em 0;
    flex-wrap: wrap;
}

.recently-corrected head{
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: 100%;
}

.recently-corrected-status {
    margin-left: auto;
    width: 35px;
    height: 35px;
}

.teacher-image{
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.teacher-details {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 10px;
}

.teacher-details .teacher-name {
    color: #333333;
    font-size: 1rem;
    font-weight: 600;
}

.teacher-details .teacher-level {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
}

.activity-briefing {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 15px 0;
    flex-basis: 100%;
}

.activity-actions {
    display: flex;
    flex: 1;
    flex-basis: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.activity-actions .activity-goto {
    margin-left: auto;
}

.activity-briefing-title {
    font-size: 1rem;
    padding-bottom: 0.2em;
}
.activity-briefing-content {
    font-size: 0.9rem;
}

/* IPHONE 6/7/8 */
@media screen and (max-width: 376px) {
    .teacher-details .teacher-name {
        font-size: 1rem;
    }
    .teacher-details .teacher-level {
        font-size: 0.8rem;
    }
    .activity-briefing-title {
        font-size: 1rem;
    }
    .activity-briefing-content {
        font-size: 0.86rem;
    }
}

/* IPHONE 6/7/8 PLUS */
@media screen and (min-width: 376px) and (max-width: 420px) {
    .teacher-details .teacher-name {
        font-size: 1rem;
    }
    .teacher-details .teacher-level {
        font-size: 0.8rem;
    }
    .activity-briefing-title {
        font-size: 1rem;
    }
    .activity-briefing-content {
        font-size: 0.86rem;
    }
}